.button {
  padding: 10px 30px;
  background: none;
  border: 3px solid rgb(112, 153, 199);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 400;
  cursor: pointer;  
  &:hover {
    color: #453688b7;
    border-color: #7f59bdb7;
  }
}
