.item{
    display: flex;
    align-items: center;
    width: 500px;
    backdrop-filter: blur(3px);
    height: 50px;
    &__button{
        color: white;
        text-decoration: none;
        padding: .8em 1em calc(.8em + 3px);
        border-radius: 3px;
        background: rgb(64,199,129);
        box-shadow: 0 -3px rgb(53,167,110) inset;
        transition: 0.2s;
        cursor: pointer;
    }
}
